<!-- // PASSO 01 - No Arquivo 'app.component.ts' Criar uma propriedade no componente
        pai para compartilhar com outro componente. 
    // PASSO 02 - No Arquivo 'app.component.html' (template), dentro do app-nomeComponente criar uma
        propriedade dentre [] e atribuir a propriedade que vem do componente pai. 
    // PASSO 03 - No arquivo 'parent-data.ts'(componente filho), importar input from
        'angular/core' 
    // PASSO 04 - No arquivo 'parent-data.ts'(componente filho),
        exportar o Input com as propiedade do componente pai tipada com string. 
    // PASSO 05 - No arquivo 'parent-data.html'(componente filho), utilizar o dado criado. -->

<h1>Conteúdo 02</h1>
<h2>Compartilhamento de Dados</h2>
<h3>Descrevendo Usuário:</h3>
<p>Nome: {{ name }}</p>
